.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.not-found-img {
  margin-top: 30px;
  width: 450px;
}

.not-found-heading {
  color: white;
}

.not-found-description {
  color: white;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .not-found-img {
    width: 280px;
    margin-top: 10px;
  }
  .not-found-description {
    text-align: center;
  }
  .not-found-container {
    height: 80vh;
  }
}
