.job-item-card {
  background-color: #272727;
  padding: 10px 25px 15px 25px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.company-logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.star-rating {
  display: flex;
  align-items: center;
}

.company-title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto';
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.company-container {
  display: flex;
  align-items: center;
}
.job-card-line {
  width: 100%;
}

.star {
  color: gold;
  width: 20px;
  height: 20px;
}

.rating {
  color: white;
  font-weight: 600;
  font-family: 'Roboto';
  margin-left: 10px;
}
.location-icon {
  color: white;
  margin-right: 10px;
}
.location {
  color: #ffffff;
  font-size: 14px;
  margin-right: 20px;
}
.employment-type-icon {
  color: white;
  margin-right: 10px;
}

.salary {
  color: #f1f5f9;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .salary {
    margin-left: 12px;
  }
}

.job-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
}

.job-description-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 300;
}

.company-location-job-type-salary {
  display: flex;
  justify-content: space-between;
}

.company-location-job {
  display: flex;
  align-items: center;
}

.employment-type {
  color: #ffffff;
  font-size: 14px;
}
