.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.login-form {
  width: 450px;
  border-radius: 8px;
  padding: 64px 48px 64px 48px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .login-form {
    width: 330px;
    padding: 54px 38px 54px 38px;
  }
}

.website-logo {
  width: 180px;
  margin-bottom: 25px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

.input-label {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  color: white;
}

.user-input {
  border: 1px solid #6366f1;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 480;
  font-family: 'Roboto';
  color: #64748b;
  background-color: transparent;
  padding: 12px 18px 12px 18px;
}

.login-button {
  width: 100%;
  height: 40px;
  background-color: #6366f1;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 2px;
}

.error-msg {
  color: #ff0b37;
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
}
